
<div class="flex items-end">
  <div class="max-w-xl pr-5">
    <div class="relative mt-5 mb-0">
      <!-- <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
        <span class="text-[1.5em]">Based in Los Angeles.</span>
      </h2> -->
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60">
          Measurements
          <ul>
            <li>Height / 5.6</li>
            <li>Bust / 30.5</li>
            <li>Waist / 23</li>
            <li>Hips / 34.5</li>
            <li>Shoes / 8</li>
            <li>Hair / Black</li>
            <li>Eyes / Black</li>
          </ul>
          Contact: hrnmry0226@icloud.com
        </span>
      </h4>
    </div>
  </div>
</div>
