
<div class="flex items-end">
  <div class="max-w-xl pr-5">
    <div class="relative mt-5 mb-0">
      <!-- <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
        <span class="text-[1.5em]">Based in Los Angeles.</span>
      </h2> -->
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60">
          Measurements
          <ul>
            <li>Height: 5'6 / 167cm</li>
            <li>Bust: 30 / 77cm</li>
            <li>Waist: 23 / 58cm</li>
            <li>Hips: 35 / 90cm</li>
            <li>Shoes: 8 / 24.5cm</li>
            <li>Hair: Black</li>
            <li>Eyes: Black</li>
          </ul>
          Contact: hrnmry0226@icloud.com
        </span>
      </h4>
    </div>
  </div>
</div>
